:root {
    --primary-color: #006600;
    --secondary-color: #bb0000;
    --background-color: #ffffff;
    --text-color: #222;
    --font-main: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    font-family: var(--font-main);
    color: var(--text-color);
    background-color: var(--background-color);
}

header,
footer {
    background-color: var(--primary-color);
    color: var(--background-color);
    text-align: center;
    padding: 1rem;
}

main {
    max-width: 1200px;
    margin: auto;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.content,
.weather {
    padding: 1rem;
}

.weather {
    background-color: var(--background-color);
}

.weather-icon {
    width: 50px;
}

@media (min-width: 700px) {

    .weather-icon {
        display: none;
    }

    .weather h2::after {
        content: " ⛅";
    }
}